{% extends 'servicios/base.html' %}
{% block content %}
    <div class="carro">
      <h1>Placa: {{ carro.placa}} </h1>
      <h5> cliente: {{ carro.cliente.cliente}} </h5>
      <h5> marca: {{ carro.marca}} </h5>
      <h5> linea: {{ carro.linea}} </h5>
      <h5> modelo: {{ carro.modelo}} </h5>
      <h5> color: {{ carro.color}} </h5>
      <h5> servicio: {{carro.color }} </h5>
      <a class="btn btn-default" href="{% url 'carro_edit' pk=carro.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default" href="{% url 'carro_remove' pk=carro.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

    </div>
{% endblock %}
